{% extends "base.html" %}

{% block content %}
    <div class="form">
        
            <h3>S'abonner à un utilisateur</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.followed_user }}
                <input type="submit" value="S'abonner">
                {{ form.followed_user.errors }}
            </form>
        

        <div id="abonnement">
            <br>
            {% if followups %}
            <h3>Abonnement</h3>
             {% for user in followups %}
                 <p>   {{ user.followed_user }}
                <a href="{% url 'delete_followup' id=user.id %}">Supprimer</a>
                 </p>
                {% endfor %}
            {% endif %}
        </div>
        <div id="abonnes">
            <br>
                <h3>Abonnés</h3>
                {% for user in followers %}
                         <p> {{ user.user }} </p>
                {% endfor %}
        </div>
    </div>
{% endblock %}