{% extends "base.html" %}

{% block content %}
    <div id="followup">
        <div>
            <h1>S'abonner à un utilisateur</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="S'abonner">
            </form>
        </div>

        <div>
            <h1>Abonnement</h1>
             {% for user in followups %}
                 <p>   {{ user.followed_user }}
                <a href="{% url 'delete_followup' id=user.id %}">Supprimer</a>
                 </p>
                {% endfor %}

        </div>

        <div>
            <h1>Abonnés</h1>
            {% for user in followers %}
                     <p> {{ user.user }} </p>
            {% endfor %}

        </div>
    </div>
{% endblock %}