{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <title>LITReview</title>
</head>

<body>
    {% block content %}
    <div id="index">    
        <img src="/media/LITReview_icon.png" alt="LITReview logo">
            <form method="POST">
                {% csrf_token %}
                <p>{{ form.username }}</p>
                <p>{{ form.password }}</p>
                <button type="submit">Connexion</button>
            </form>
            <p> {{ form.non_field_errors }}</p>
            <p> {{ form.username.errors }} </p>
            <p>{{ form.password.errors }} </p>
            <br>
            <a href="{% url 'signup' %}">Inscrivez-vous ! </a>
            <br><br>
    </div>
    {% endblock %}
</body>
</html>