*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    padding-top: 50px;
}

nav {
    position: fixed;
    top: 0;
    height: 50px;
    background-color:lavender;
    width: 100%;


    ul {
        height: 100%;
        width: 80%;
        margin: auto;
        list-style-type: none;
        display: flex;
        justify-content:space-evenly;

        li {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                color:black;
                font-size:large;

                &::after{
                    content:"";
                    display: block;
                    margin: 0 auto;
                    background-color: black;
                    width: 0%;
                    height: 2px;
                    transition: width 0.2s ease-in-out
                    }
                &:hover::after{
                        width: 100%;
                        color: black;
                    }
                } 
            }
        }
    }

.flux {
    width: 60%;
    margin: auto;
}

.post {
    padding: 10px;
    margin: 5px;
    .review {
        background: lavender ;
        opacity: 0.5;
        width: 90%;
        margin-left: 10%;
    }
    
    .ticket {
        background: lavender;
        width: 90%;
        display: flex;
        justify-content: left;
        align-items: top;
        margin-bottom: 10px;
    }
}

#followup {
    width: 70%;
    margin: auto;
}

