*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    padding-top: 50px;
}

nav {
    position: fixed;
    top: 0;
    text-transform: uppercase;
    height: 50px;
    background-color:#ced4da;
    width: 100%;
    z-index: 10;

    ul {
        height: 100%;
        width: 80%;
        margin: auto;
        list-style-type: none;
        display: flex;
        justify-content:space-evenly;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            }
        }
    }

a, input[type=submit] {
    display: inline-block;
    text-decoration: none;
    border-style: solid;
    border-radius: 3px;
    color:black;
    background-color: white;
    
    font-size: 15px;
    margin: 5px;  
    padding: 2px;

    &:hover{
        background-color: lightgray;
    }

}

.flux {
    width: 60%;
    margin: auto;
    
    hr {
        border-color: ced4da;
        border-style: dashed;
        border-top: 0;
        }

    .post {
        margin-top: 5px;

        .published{
            opacity: 0.6;
            font-style: italic;
            display: inline-block;
            padding-left: 2px;
            padding-right: 4px;
            color: white;
            margin: 2px;

            &.ticket{
                background-color:cornflowerblue;
                display: inline;
            }

            &.review{
                background-color:cadetblue;
            }
        }
        
        .snippet_ticket {
            margin-left: 30%;
        }
        
        .ticket {
            background: white;
            width: 100%;
            display: flex;
            justify-content: left;
            align-items: top;
            margin-top: 5px;
            ul{
                list-style: none;
            }
            .ticket_details {
                margin-left: 10px;
            }

            img{
                border-radius: 3px;
            }
        }
    }
}

.form {
    position: fixed;
    width: 60%;
    text-align: left;
    align-items: center;
    top: 10%;
    left: 30%;
    overflow-y: scroll;
    max-height: 100%;
    
    input[type=text], input[type=number], textarea {
        display: block;
        padding: 2px;
        border: 1px solid #ced4da;
        font-size: 15px;
    }

    label{
        display: inline-block;
        box-sizing: border-box;
        margin: 2px;
    }

    .errorlist{
        font-size: smaller;
        font-style: italic;
        list-style-type: none;
    }
   
    .resultats{
        display: flex;
    }

}
