body {
    padding-top: 50px;
}

nav {
    position: fixed;
    top: 0;
    height: 50px;
    background-color:silver;
    width: 100%;
}

ul {
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.container {
    width: 70%;
    margin: auto;
}

.post {
    border: solid;
    margin: 2px;
    padding: 2px;

}

.snippet_review {
    background: yellow;
}

.snippet_ticket {
    background: greenyellow;
}

#followup {
    width: 70%;
    margin: auto;
}

