{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>LITReview</title>
</head>
<body>

<nav>
    <a href="{% url 'index' %}">LITReview</a>
    <a href="{% url 'flux' %}">Flux</a>
    <a href="{% url 'create_followup' %}">Abonnements</a>
    <a href="{% url 'index' %}">Posts</a>
    <a href="{% url 'index' %}">Déconnexion</a>
</nav>

{% block content %}
{%endblock %}

</body>
</html>