{% extends "base.html" %}

{% block content %}
    <h1>Flux</h1>

        <p><a href="{% url 'create_ticket' %}"> Créer un ticket </a></p>
        <p><a href="{% url 'create_review' %}"> Créer une critique </a></p>

        {% for post in posts %}
            {% if post.content_type == "TICKET" %}
                <p><a href="{% url 'view_ticket' pk=post.id %}">TICKET: {{ post.title }}</a></p>
            {% elif post.content_type == "REVIEW" %}
                <p><a href="{% url 'view_review' pk=post.id %}">REVIEW: {{ post.headline }}</a></p>
            {% endif %}
        {% endfor %}

{% endblock %}