{% extends "base.html" %}

{% block content %}
   <div class="flux">
        {% for post in posts %}
            {% if post.content_type == "TICKET" %}
                <div class="links">
                    <a href="{% url 'update_ticket' pk=post.id%}">Modifier</a>
                    <a href="{% url 'delete_ticket' pk=post.id%}">Supprimer</a>
                </div>
                
                <div class="post">    
                    {% include "view_snippet_ticket.html" with ticket=post %}
                </div>
            {% elif post.content_type == "REVIEW" %}
                <div class="links">
                    <a href="{% url 'update_review' pk=post.id%}">Modifier</a>
                    <a href="{% url 'delete_review' pk=post.id%}">Supprimer</a>
                </div>
                <div class="post">
                    
                    {% include "view_snippet_review.html" with review=post ticket=post.ticket %}
                </div>
            {% endif %}
        <hr>
        {% endfor %}

   </div>


{% endblock %}