{% extends "base.html" %}

{% block content %}
   <div id="search">
        <h3>Recherche</h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Chercher"> 
        
        <h3>Résultats</h3>
        
        {% for book in books %}
                {% if book.volumeInfo.imageLinks.thumbnail %}
                    <p>{{ book.volumeInfo.title }} </p>
                    <p>{{ book.volumeInfo.authors.0 }} </p>
                    <p><img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt=""></p>
                {% endif %}
        {% endfor %}
   </div>


{% endblock %}