
{% block content %}
    <div class="ticket">
        <div class="ticket_img">
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt="image du ticket">
            {% endif %}
        </div>
        <ul class="ticket_details">
            <li>Demande publiée par {{ ticket.user }} le {{ticket.time_created }}</li>
            <li>Titre: {{ ticket.title }} </li>
            <li>Description: {{ ticket.description }}</li>
        </ul>
        
    </div>

{% endblock %}