
{% block content %}

    <p class="ticket_published">Demande publiée par {{ ticket.user }} le {{ticket.time_created }} </p>
    <br><br>
    <div class="ticket">
        <div class="ticket_img">
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt="image du ticket">
            {% endif %}
        </div>
        <ul class="ticket_details">
            <li>📚 {{ ticket.title }} </li>
            <li>{{ ticket.description }}</li>
        </ul>
    </div>
    

{% endblock %}