
{% block content %}
    
    <p class="published review">Critique publiée par {{ review.user }} le {{review.time_created }}</p>
    <div class="review">
        {% load filters %}        
        {% for i in review.rating|rating %}
            ⭐️
        {% endfor %}
        <b> {{ review.headline }} </b>
        <p>✒️ {{ review.body }}</p>
        
    </div>
    <div class="snippet_ticket">
        {% include "view_snippet_ticket.html" with ticket=ticket review_exists=True %}
    </div>
    <br>
    

    

{% endblock %}

